#search_results {
  width: 100vw;
  height: 100vh;
  background-image: 
    linear-gradient(rgba(63, 75, 86, 0.865), rgba(60, 73, 86, 0.865)),
    url("menu.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}